.prodauct {
  background: linear-gradient(#222,#dcdcdc);
  padding: 150px,50px;
  overflow: hidden;
}
.container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-size: 70px;
  letter-spacing: 5px;
  color: #fff;
  font-family: "Hiragino Kaku Gothic Std";
  text-align: center;
  margin-bottom: 0;
}
.container p {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
}
.search-form {
  width: 100%;
  text-align: center;
}
.search-form input{
  width: 60%;
  height: 30px;
  border-radius: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  list-style: none;
}
.item-list li {
  width: 45%;
}
.item-list img {
  width: 90%;
  height: 350px;
}
.item-list P {
  font-size: 20px;
}
.item-list span {
  color: #ff8c00;
  size: 18px;
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}